/* Global */
* {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html, body {
  background-color: #E1EEBC;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 10px;
  font-size: 50px;
}
p {
  margin: 0px;
}

/* Top */
.top-bar {
  background-color: #67AE6E;
  color: #F2EFE7;
  text-align: center;
}

/* Body */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  background-color: #EFEEEA;
  padding: 15px;
  border-radius: 2rem;
}
.drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 30px;
  text-align: center;
  border: #328E6E dashed 3px;
  border-radius: 2rem;
  cursor: pointer;
}
.drop-area:hover {
  background-color: #e6e4e4;
}
.drop-image {
  width: 250px;
}
.drop-message {
  color: #123a2c;
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}
.drop-formats {
  font-size: 15px;
  color: #747574;
}
#counter {
  margin: 10px 0px;
  text-align: center;
  font-size: 16px;
  height: 20px;
  color: #747574;
}
.process-button {
  background-color: #67AE6E;
  color: #fff;
  font-size: 25px;
  border: none;
  width: 100%;
  border-radius: 2rem;
  height: 50px;
  cursor: pointer;
}
.process-button:hover {
  background-color: #66a36c;
}
.process-button:focus {
  outline: none;
}

/* Card */
.message-container {
  background-color: #EFEEEA;
  padding: 50px;
  border-radius: 2rem;
  text-align: center;
}
.message-container h2 {
  font-size: 32px;
  color: #328E6E;
  margin: 0;
}
.message-container p {
  font-size: 16px;
  color: #747574;
}
.message-container button {
  margin-top: 20px;
}
.message-container span {
  color: #328E6E;
  font-weight: 1000;
}

/* Bottom */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #67AE6E;
  color: #F2EFE7;
}