/* Global */
* {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html, body {
  background-color: #FFFFFF;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 10px;
  font-size: 50px;
}
p {
  margin: 0px;
}
button:focus {
  outline: none;
}

/* Top */
.top-bar {
  background-color: #2c8062;
  color: #F2EFE7;
  text-align: center;
}

/* Body */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  border: 1px solid #e5e7eb;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
}
.drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  padding: 48px;
  border: #e5e7eb dashed 2px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 12px;
}
.drop-area:hover {
  background-color: #f4f4f580;
}
.drop-image {
  width: 250px;
}
.drop-message {
  color: #18181d;
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}
.drop-click {
  font-size: 15px;
  color: #71717a;
}
.output-format-container {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  gap: 12px;
}
.output-format-container .toggle-button {
  background-color: #fff;
  border: #e5e7eb 1px solid;
  padding: 10px 0;
  width: 75px;
  color: #328E6E;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
.output-format-container .toggle-button:hover {
  background-color: #f4f4f5;
}
.output-format-container .toggle-button.active {
  background-color: #328E6E;
  color: #fff;
}
#counter {
  font-size: 14px;
  color: #71717a;
}
#counter b {
  color: #18181d;
}
.process-button {
  background-color: #328E6E;
  color: #fff;
  font-size: 25px;
  margin-top: 12px;
  border: none;
  width: 100%;
  border-radius: 12px;
  height: 50px;
  cursor: pointer;
}
.process-button:hover {
  background-color: #2c8062;
}
.process-button:focus {
  outline: none;
}

/* Card */
.message-container {
  background-color: #EFEEEA;
  padding: 50px;
  border-radius: 2rem;
  text-align: center;
}
.message-container h2 {
  font-size: 32px;
  color: #328E6E;
  margin: 0;
}
.message-container p {
  font-size: 16px;
  color: #747574;
}
.message-container button {
  margin-top: 20px;
}
.message-container span {
  color: #328E6E;
  font-weight: 1000;
}

/* Bottom */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #2c8062;
  color: #F2EFE7;
}